h2 {
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

div {
    font-size: large;
}

.addition {
  position: relative;
  top: -5px;
  left: 18px;
  width: 200px;
  height: 225px;
  background: unset;
  border: unset;
  cursor: pointer;
}

.subtraction {
  position: relative;
  top: -5px;
  left: 337px;
  width: 200px;
  height: 162px;
  background: unset;
  cursor: pointer;
  border: unset;
  }

.multiplication {
  position: relative;
  top: 508px;
  right: 369px;
  width: 181px;
  height: 158px;
  background: unset;
  cursor: pointer;
  border: unset;
}

.division {
  position: relative;
  top: 502px;
  right: 30px;
  width: 184px;
  height: 184px;
  background: unset;
  cursor: pointer;
  border: unset;
}

.farm-background {
  background-image: url(http://localhost:3000/static/media/farm_map.e3a83430132214698857.png);
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 790px;
  height: 789px;
}