h2 {
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

div {
    font-size: large;
}

.addition {
  position: relative;
  top: -788px;
  left: 29px;
  width: 200px;
  height: 225px;
  background: unset;
  border: unset;
  cursor: pointer;
}

.subtraction {
  position: relative;
  top: -819px;
  left: 345px;
  width: 200px;
  height: 162px;
  background: unset;
  cursor: pointer;
  border: unset;
  }

.multiplication {
  position: relative;
  bottom: 307px;
  left: -361px;
  width: 181px;
  height: 160px;
  background: unset;
  cursor: pointer;
  border: unset;
}

.division {
  position: relative;
  top: -484px;
  right: -559px;
  width: 184px;
  height: 184px;
  background: unset;
  cursor: pointer;
  border: unset;
}

.farm-background {
  background-image: url(../../public/farm_map.png);
  position: relative;
  background-size: cover;
  top: 0;
  left: 0;
  width: 790px;
  height: 789px;
}

.instruction-modal {
  position: relative;
}

.open-modal-button {
  position: relative;
  top: -764px;
  left: 146px;
  width: 86px;
  height: 144px;
  background: unset;
  border: unset;
}

.close-modal-button {
  position: relative;
  z-index: 2;
  left: 309px;
  top: -724px;
  border-radius: 25%;
}

.modal-text {
  position: relative;
  z-index: 1;
  background-color: rgb(198, 166, 36);
  width: 772px;
  text-align: center;
  top: -965px;
}